@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@400;500;700&display=swap');

* {
    font-family: 'Anek Malayalam', sans-serif;
}

body {
    background-color: #F9F9F9;
}

a {
    text-decoration: none;
}

.btn {
    font-weight: 500;
}

